<div class="container shadow-sm p-3  m-2  rounded">
    <div class="row">
        <div class="col">
            <h3>{{ book.title }}</h3>
        </div>
        <div class="col d-flex gap-2">
            <p class="">
                Available:
            </p>
            <div class="col">
                <fa-icon *ngIf="!book.isAvailable" class="text-danger fs-5" [icon]="faTimes"></fa-icon>
                <fa-icon *ngIf="book.isAvailable" class="text-success fs-5" [icon]="faCheck"></fa-icon>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <div class="d-flex gap-4">
                <p class=""> <span class="text-info">Author: </span>{{ book.author }} </p>
                <p class=""> <span class="text-info">Published</span> {{ book.publishedDate }}</p>
            </div>
        </div>
        <div *ngIf="isLoggedIn" class="col heightFit d-flex gap-2">
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteBook()">Delete</button>
            <button type="button" class="btn btn-sm btn-info" (click)="openEditModal()">Edit</button>
        </div>
    </div>
</div>