body {
    background-color: rgb(0, 2, 21);
}

.h-full {
    min-height: 100vh;
}
.center {
    margin: 0 auto;
}
.centerChild {
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cinzel', serif;
}

p {
    font-family: 'Cormorant Garamond', serif;
}

.fit-content {
    height: fit-content;
    width: fit-content;
}
.dayMode-warning {
    color: purple !important;
}